.stationForm > mat-form-field{
  width: 40%;
  margin-left: 1em;
  margin-top:1em;
}
.stationForm{
  margin-top:5em;
  text-align:center;
}
.mainButton{
  background-color: #930318;
  color: whitesmoke;
  margin-left: 7px;
}
